@import '../../variables';

:global {
  %round-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid $primary-gray;
    border-radius: 50%;
  }
}

.header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  color: white;
  font-family: $font-stack;
  font-size: 24px;
  box-shadow: 0 3px 5px $primary-gray;
}

.main {
  width: 100%;
  padding: 50px 30px 0 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.mainContent {
  width: 100%;
  max-width: 1000px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.controlElements {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.select {
  width: 200px;
  height: 40px;
  padding: 10px;
  border: 1px solid $primary-gray;
  border-radius: 10px;
  outline: none;
  font-family: $font-stack;
  font-size: 16px;

  &:hover, &:focus {
    border-color: $primary-color;
  }
}
