@import './variables';

@mixin round-button() {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid $primary-gray;
  border-radius: 50%;
  flex-shrink: 0;
  cursor: pointer;
}