@import '../../variables';
@import '../../mixins';

.newTask {
  width:70%;
  display: flex;
  margin: 0 20px 20px 0;

}

.input {
  width: 100%;
  min-width: 200px;
  height: 40px;
  margin-right: 10px;
  padding-left: 30px;
  box-sizing: border-box;
  border: 1px solid $primary-gray;
  border-radius: 20px;
  outline: none;
  font-family: $font-stack;
  font-size: 16px;


  &:hover, &:focus {
    border-color: $primary-color;
  }
}

.addButton {
  width: 40px;
  height: 40px;
  padding: 5px;
  @include round-button();

  .addButtonSvg {
    width: 20px;
    height: 20px;
    fill: $primary-gray;
  }

  &:hover {
    background-color: $primary-color;

    .addButtonSvg {
      fill: white;
    }
  }
}
